{% extends 'base.html.twig' %}

{% block title %}
Créer un cours | {{ parent() }}
{% endblock %}

{% block body %}
<h1>Créer un cours</h1>
    <div>
        {# todo: Afficher le formulaire #}
    </div>
{% endblock %}

