{% extends 'base.html.twig' %}

{% block title %}
    Modifier un cours | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Modifier un cours</h1>
    {#  Afficher le formulaire #}
    {{ form_start(courseForm) }}
    {{ form_widget(courseForm) }}
    <button class="btn btn-primary btn-sm">Modifier</button>
    {{ form_end(courseForm) }}
{% endblock %}

