{% extends "base.html.twig" %}

{% block body %}

    <h1>Accueil</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae et mollitia odio praesentium quia unde. Ad, deserunt est magni maxime perferendis quidem tempore vel. Beatae mollitia quisquam rerum sequi vitae.</p>

{% endblock %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}
